.clients {
    text-align: center;

    &__item {
        @include flex-center;
        gap: 30px;
        flex-wrap: wrap;
    }

    &__title {
        @include title;
    }

    &__link {
        width: 170px;
        height: 92px;
        border: 1px solid getColor('tertiary');
        border-radius: $br4;
        @include flex-center;
        fill: getColor('tertiary');
        padding: 16px 32px;
        transition-property: fill, border-color;
        transition-duration: 250ms;
        transition-timing-function: getAnimation('cubic-bezier');
        flex-basis: calc((100% - 30px) / 2);


         &:is(:hover, :focus) {
            border-color: getColor('secondary');
            fill: getColor('secondary');
         }
    }
}

@media screen and  (min-width: 768px) and (max-width: 1199px) {
    .clients__item {
        flex-basis: calc((100% - 40px) / 3);
    }
}

@media screen and (min-width: 1200px) {
    .clients__item {
        flex-wrap: nowrap;
        flex-basis: auto;
    }
}
