.clients {
    text-align: center;

    &__item {
        @include flex-center;
        gap: 30px;
        flex-wrap: wrap;

        @include desktop {
            flex-wrap: nowrap;
            flex-basis: auto;
        }

    }

    &__title {
        @include title;
    }

    &__link {
        width: 210px;
        height: 92px;
        border: 1px solid getColor('tertiary');
        border-radius: $br4;
        @include flex-center;
        fill: getColor('tertiary');
        padding: 16px 52px;
        transition-property: fill, border-color;
        transition-duration: 250ms;
        transition-timing-function: getAnimation('cubic-bezier');

        @include tablet {
            width: 226px;
            padding: 16px 60px;
        }

        @include desktop {
            width: 170px;
            padding: 16px 32px;
        }

         &:is(:hover, :focus) {
            border-color: getColor('secondary');
            fill: getColor('secondary');
         }
    }
}


