.contact {
    @include font($fw: 500, $fs: 14px, $lh: 16px, $ls: 0.02em);
    display: flex;
    align-items: center;
    gap: 30px;

    @include tablet {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    &__link {
        color: getColor('grey');
        display: flex;
        align-items: center;
        column-gap: 10px;
        fill: getColor('grey');
        transition: color 250ms getAnimation('cubic-bezier'),
        fill 250ms getAnimation('cubic-bezier');

        @include tablet {
            @include font($fw: 500, $fs: 12px, $lh: 14px, $ls: 0.02em);
        }

        &:is(:hover, :focus) {
            color: getColor('secondary');
            fill: getColor('secondary');
        }
    }

}
