.logo {
    @include font($fw: 700, $fs: 26px, $lh: 31px, $ls: 0.03em);
    font-family: getFont('ral');
    color: getColor('secondary');
    margin-right: 93px;

    &--footer {
        margin-right: 0px;
    }

    &--white {
        color: white;
    }

    &--black {
        color: black;
    }
}

@media screen and (max-width: 1199px) {
    .logo {
        margin-right: 0;
    }
}
