.logo {
    @include font($fw: 700, $fs: 26px, $lh: 31px, $ls: 0.03em);
    font-family: getFont('ral');
    color: getColor('secondary');
    
    @include tablet {
        margin-right: 83px;
    }
    
    @include desktop {
        margin-right: 93px;
    }


    &--footer {

        @include tablet {
            margin-right: 0px;
        }

        @include desktop {
            margin-right: 0px;
        }
    }

    &--white {
        color: white;
    }

    &--black {
        color: black;
    }
}
